// @import url("fonts/stylesheet.css")
@import url("../fonts/stylesheet.css")
@import "utils/_normalaize"
@import "./utils/_animation"
@import "./utils/_variable"
@import "./utils/_mixin"
@import "./components/_common"
@import "./components/_header"
@import "./components/main_page/_topbanner"
@import "./components/main_page/_advantages"
@import "./components/main_page/_whatwedoing"
@import "./components/main_page/_our-team"
@import "./components/main_page/_customers"
//Page Portfolio
@import "./components/page_portfolio/_jobs"
//end Page Portfolio
@import "./components/_footer"
@import "./components/_poppup"
//@import "./utils/*"
//@import "./components/*"
//@import "./components/*/*"
