.advantages
    @media desktopmaxWidth1200
        padding-bottom: 3.025vw
    @media mobile480
        padding: 12.025vw 0 6vw
    &__list-items
        display: flex
        flex-wrap: wrap
        margin: 0 -15px
    &__list-item
        width: calc(100% / 4 - 30px)
        margin: 0 15px
        @media tablet
            width: calc(100% / 3 - 30px)
            margin: 0 15px 30px
        @media mobile768
            width: calc(100% / 2 - 30px)
            margin: 0 15px 30px
        @media mobile480
            width: 100%
            margin-bottom:5vw
    
    &__image
        background-color: var(--bgColorAdvantagesImage)
        border-radius: 4px
        text-align: center
        padding: 25px 100px
        @media mobile768
            padding: 3.1vw 10vw
        img
            width: 70px
    &__icon
        @media mobile480
            width: 15vw
    h3
    p
        font-size: 14px
        line-height: floor((16 / 14), 2)
        letter-spacing: 0.03em
        @media desktopmaxWidth1200
            font-size: 1.7vw
        @media mobile768
            font-size: 1.9vw
            letter-spacing: 0.01em
    h3
        text-transform: uppercase
        margin-top: 30px
        @media mobile480
            font-size: 3.1vw
            margin-top: 6.5vw
            text-align: center
    p
        line-height: floor((24 / 14), 2)
        margin-top: 10px
        @media mobile480
            font-size: 3.338vw