desktopHighResolution       = '(min-width: 1920px)';
desktopLowResolution        = '(min-width: 992px)';
desktopMaxWidth1920         = '(max-width: 1919px)';
desktopMacBook              = '(max-width: 1441px)';
desktopmaxWidth1200         = 'screen and (max-width: 1200px)';
tablet                      = 'screen and (max-width: 991px)';
mobile768                   = 'screen and (min-width: 481px) and (max-width: 768px)';
mobile480                   = 'screen and (min-width: 320px) and (max-width: 480px)';

//fontFamily

Roboto                      = "Roboto";
RobotoThin                  = "RobotoThin";
RobotoBlack                 = "RobotoBlack";
RobotoLight                 = "RobotoLight";
RobotoItalic                = "RobotoItalic";
RobotoMedium                = "RobotoMedium";
RobotoBold                  = "RobotoBold";
RobotoMediumItalic          = "RobotoMediumItalic";
RobotoThinItalic            = "RobotoThinItalic";
RobotoLightItalic           = "RobotoLightItalic";
RobotoBoldItalic            = "RobotoBoldItalic";
RalewayBlackItalic          = "RalewayBlackItalic";
RalewaySemiBold             = "RalewaySemiBold";
RalewayBold                 = "RalewayBold";
RalewayMedium               = "RalewayMedium";
RalewayLightItalic          = "RalewayLightItalic";
RalewayExtraLight           = "RalewayExtraLight";
RalewaySemiBoldItalic       = "RalewaySemiBoldItalic";
RalewayMediumItalic         = "RalewayMediumItalic";
Raleway                     = "Raleway";
RalewayBlack                = "RalewayBlack";
RalewayLight                = "RalewayLight";
RalewayExtraBoldItalic      = "RalewayExtraBoldItalic";
RalewayBoldItalic           = "RalewayBoldItalic";
RalewayItalic               = "RalewayItalic";
RalewayExtraBold            = "RalewayExtraBold";
RalewayThin                 = "RalewayThin";
RalewayThinItalic           = "RalewayThinItalic";

//color

:root {
	--fonSizeAllDocument: 16px;
	--partColorLogoBlue: #2196f3;
	--colorBlackMenu: #212121;
	--colorlinkHeader: #757575;
	--colorTitle: #212121;
	--colorMenuHover: #2196f3;
	--colorportfolioItemHover: rgba(33, 150, 243, 0.9);
	--colorButton: #2196f3;
	--colorBlack: #000000;
	--colorWhite: #fff;
	--colorText: #757575;
	--colorLinkFooter: rgba(255, 255, 255, 0.6);
	--bgColorLinkFooterSocialIcon: rgba(255, 255, 255, 0.1);
	--bgColorTopBanner: rgba(47, 48, 58, 0.4);
	--bgColorFooter: #2f303a;
	--bgColorAdvantagesImage: rgba(245, 244, 250, 1);
	--bgColorOurTeamSection: rgba(245, 244, 250, 1);
	--colorSocialIcon: #afb1b8;
	--borderColorTabs: #eeeeee;
	--backdropColor: rgba(0, 0, 0, 0.2);
	--colorBorderClosePopup: rgba(0, 0, 0, 0.1);
	--colorBorderPopupField: rgba(33, 33, 33, 0.2);
	--borderHeader: #ececec;
	--colorBorderInputFooter: rgba(255, 255, 255, 0.3);

	/*color page portfolio*/

	--colorbuttonDafault: #f5f4fa;
	--colorbuttonActive: #2196f3;
	--colortextButton: #212121;
	--boxShadowActiveButton: 0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	--boxShadowCardItemOurCompany: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

	/*font family*/

	--ffReg: Roboto;
	--ffBold: RobotoBold;
	--ffBlack: RobotoBlack;
	--ffMedium: RobotoMedium;
	--ffLogo: RalewayBold;
}

colorWhite                  = #fff
colorBlack                  = #000000
colorFormBg                 = #045b75
colorTitle                  = #30bf9e
// bgColorAllDocument          = #111724
bgColorAllDocument          = #0a101e
colorLine                   = #7aa571
bgColorForm                 = rgba(0, 0, 0, 0.57)
bgColorSubmitButton         = #f08833

//border

colorBorderBottomMenu       = red
borderInput                 = solid 6px colorBorderInput
borderHeader                = solid 1px rgba(255, 255, 255, 0.25)
borderSocial                = solid 1px rgba(255, 255, 255, 0.25)
borderPagination            = solid 1px colorPink
borderIconClients           = solid 1px rgba(188, 200, 202, 0.15)
borderTableZoomItem         = solid 2px #dddddd

//box-shadow

boxShadowHeader             = 0px 3px 6.96px 1.04px rgba(0, 0, 0, 0.3)

//path

// path = 'images'
path = '../images'